<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/divices"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración de Alarma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list-header mode="ios">Información de la Alarma</ion-list-header>
  <ion-list mode="ios">
    <ion-item>
      <ion-input mode="ios" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telegram ID" label-placement="floating" fill="outline" placeholder="Ingrese Telegram ID" [(ngModel)]="telegramId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Group ID de Telegram" label-placement="floating" fill="outline" placeholder="Ingrese Group ID" [(ngModel)]="groupId"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>Tiempos</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Tiempo de Salida (segundos)</ion-label>
      <ion-range
        [(ngModel)]="exitTime"
        min="0"
        max="180"
        step="1"
        snaps="true"
        pin="true"
        ticks="true"
        color="primary"
      >
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">180</ion-label>
      </ion-range>
      <ion-note>Valor actual: {{exitTime}} segundos</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tiempo de Prealarma (segundos)</ion-label>
      <ion-range
        [(ngModel)]="prealarmTime"
        min="10"
        max="600"
        step="10"
        snaps="true"
        pin="true"
        ticks="true"
        color="secondary"
      >
        <ion-label slot="start">10</ion-label>
        <ion-label slot="end">600</ion-label>
      </ion-range>
      <ion-note>Valor actual: {{prealarmTime}} segundos</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveConfig()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toast></ion-toast>
</ion-content>

