<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-icon slot="start" name="log-out-outline" (click)="logout()"></ion-icon>
    <ion-title>Seguridad del Hogar</ion-title>
    <ion-icon slot="end" name="add-circle-sharp" (click)="addDevices()"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estado del Sistema</ion-card-title>
      <ion-card-subtitle>Control principal de seguridad</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <!--<ion-icon [name]="actualState ? 'shield' : 'shield-outline'" slot="start" [color]="getSystemStatusColor()"></ion-icon>
        <ion-label>{{ getSystemStatus() }}</ion-label> -->
        <ion-icon 
          [name]="actualState ? 'shield' : 'shield-outline'" 
          slot="start" 
          [color]="getSystemStatusColor()">
        </ion-icon>
        <ion-label>{{ getSystemStatus() }}</ion-label>
        <ion-toggle [(ngModel)]="isArmed" (ionChange)="writeStatus()"></ion-toggle>
      </ion-item>      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dispositivos </ion-card-title>
      <ion-card-subtitle>Estado de los sensores y cámaras</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let device of devices">
          <ion-icon [name]="device.icon" slot="start" color="primary"></ion-icon>
          <ion-label>{{ device.name }}</ion-label>
          <ion-label slot="end" [color]="device.color">{{ device.status }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Acciones Rápidas</ion-card-title>
      <ion-card-subtitle>Controles de seguridad</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Botón desabilitado hasta corregir-->
            <ion-button [disabled]="true" expand="block">
              <ion-icon name="lock-closed" slot="start"></ion-icon>
              Cerrar Todo
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="navConfig()" expand="block" fill="outline">
              <ion-icon name="settings" slot="start"></ion-icon>
              Configuraciones
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- Botón desabilitado hasta corregir-->
            <ion-button [disabled]="true" expand="block" color="danger">
              <ion-icon name="warning" slot="start"></ion-icon>
              Activar Alarma
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>