<ion-header>
  <ion-toolbar mode="ios" color="tertiary">
    <ion-title>
      SeguridadIoT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row size="auto">
        <ion-button (click)="listDevices()" mode="ios">refresh</ion-button>
      </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item-sliding *ngFor="let device of devices">
        <ion-item>
            <ion-icon slot="start" 
                      [name]="device.isConnected ? 'checkmark-outline': 'close'" 
                      [color]="device.isConnected ? 'success' : 'danger'">
            </ion-icon>
            <ion-label>{{ device.device.device.name }}</ion-label>
            <ion-button slot="end" (click)="connect(device.device.device.deviceId)" id="open-modal">connect</ion-button>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Configuracion Inicial</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-input labelPlacement="stacked" label="SSID" placeholder="Introduce tu SSID de WiFi" [(ngModel)]="wifiSSID">
          <ion-icon slot="start" name="wifi-outline" aria-hidden="true"></ion-icon>
        </ion-input>
        
        <ion-input labelPlacement="stacked" type="password" label="Password" [(ngModel)]="wifiPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        <ion-input labelPlacement="stacked" label="CHATID" placeholder="Introduce CHATID" [(ngModel)]="chatId">
          <ion-icon slot="start" name="navigate-circle-outline" aria-hidden="true"></ion-icon>
        </ion-input>
        
      </ion-content>
      
    </ng-template>
  </ion-modal>
</ion-content>

